In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
plt.rc('font', family='NanumGothic')
matplotlib.rcParams['axes.unicode_minus'] = False   # 마이너스 부호 깨짐

# 1. 데이터 가져오기

In [2]:
train_ln = pd.read_csv('./data/train_ln.csv',parse_dates=['ymd'])
train_dn = pd.read_csv('./data/train_dn.csv',parse_dates=['ymd'])
test_ln = pd.read_csv('./data/test_ln.csv',parse_dates=['ymd'])
test_dn = pd.read_csv('./data/test_dn.csv',parse_dates=['ymd'])

In [83]:
sub = pd.read_csv('./data/original/sample_submission.csv')

In [3]:
print('train_ln.shape: ',train_ln.shape)
print('train_dn.shape: ',train_dn.shape)
print('test_ln.shape: ',test_ln.shape)
print('test_dn.shape: ',test_dn.shape)

train_ln.shape:  (1205, 17)
train_dn.shape:  (1163, 16)
test_ln.shape:  (50, 16)
test_dn.shape:  (50, 15)

In [4]:
train_ln['ln_prop'] = train_ln.ln / train_ln.atoffice

In [5]:
train_ln['y']=train_ln.ymd.dt.strftime('%Y')
train_ln['m']=train_ln.ymd.dt.strftime('%m')
train_ln['d']=train_ln.ymd.dt.strftime('%d')

In [6]:
train_dn[['dow','dn']].groupby('dow').mean().\
sort_values('dn',ascending=False)

             dn
dow
0    539.533333
1    522.305439
3    480.401639
2    432.358209
4    408.146444

In [7]:
df = train_ln[['atoffice','dow','overtime','y','m','d','ln_prop']]

In [8]:
week_encoded = train_ln.groupby('dow').ln.mean()
df['dow'] = df['dow'].replace(week_encoded)

<ipython-input-8-84bb9092db83>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['dow'] = df['dow'].replace(week_encoded)

In [9]:
df.overtime = df.overtime/train_ln.employees
df['atoffice_prop'] = df.atoffice/train_ln.employees

C:\Users\user\anaconda3\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
<ipython-input-9-6de71ab980fe>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['atoffice_prop'] = df.atoffice/train_ln.employees

In [11]:
df = df[['atoffice','atoffice_prop','y','m','d','dow','overtime','ln_prop']]

In [12]:
df

      atoffice  atoffice_prop          dow  overtime     y   m   d   ln_prop
0       2401.0       0.923106  1146.395833  0.091503  2016  02  01  0.432736
1       2378.0       0.914264   925.620833  0.122645  2016  02  02  0.364592
2       2365.0       0.909266   905.213389  0.042676  2016  02  03  0.430021
3       2277.0       0.875433   823.991803  0.136486  2016  02  04  0.429513
4       2142.0       0.823529   653.590909  0.013072  2016  02  05  0.431839
...        ...            ...          ...       ...   ...  ..  ..       ...
1200    2319.0       0.777405   905.213389  0.001341  2021  01  20  0.471324
1201    2309.0       0.774053   823.991803  0.154878  2021  01  21  0.360329
1202    2177.0       0.729802   653.590909  0.000335  2021  01  22  0.265962
1203    2396.0       0.803218  1146.395833  0.206504  2021  01  25  0.477880
1204    2369.0       0.794167   925.620833  0.184713  2021  01  26  0.428451

[1205 rows x 8 columns]

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.ensemble import RandomForestRegressor

In [84]:
X_train, X_test, y_train, y_test = train_test_split(df.iloc[:,1:-1],
                                                    df.iloc[:,-1],
                                                    test_size=0.3,
                                                    random_state=42)
rtree = RandomForestRegressor(n_jobs=-1, random_state=42)
rtree.fit(X_train, y_train)
y_pred = rtree.predict(X_test)

a1 = df.loc[y_test.index].atoffice * y_test
a2 = df.loc[y_test.index].atoffice * y_pred

print("훈련 세트 정확도: {:.3f}".format(rtree.score(X_train, y_train)))
print("테스트 세트 정확도: {:.3f}".format(rtree.score(X_test, y_test)))
print("MAE: {:.3f}".format(mean_absolute_error(a1,a2)))

훈련 세트 정확도: 0.960
테스트 세트 정확도: 0.728
MAE: 76.066

In [85]:
test_ln['y'] = test_ln.ymd.dt.strftime('%Y')
test_ln['m'] = test_ln.ymd.dt.strftime('%m')
test_ln['d'] = test_ln.ymd.dt.strftime('%d')
test_ln['atoffice_prop'] = test_ln.atoffice / test_ln.employees
week_encoded = train_ln.groupby('dow').ln.mean()
test_ln['dow'] = test_ln.dow.replace(week_encoded)

In [86]:
X_test_ln = test_ln[['atoffice_prop','overtime','y','m','d','dow']]
pred_ln_prop = rtree.predict(X_test_ln)
pred_ln = pred_ln_prop * test_ln.atoffice

In [89]:
sub['중식계'] = pred_ln

In [90]:
train_dn['dn_prop'] = train_dn.dn / train_dn.atoffice
train_dn['y']=train_dn.ymd.dt.strftime('%Y')
train_dn['m']=train_dn.ymd.dt.strftime('%m')
train_dn['d']=train_dn.ymd.dt.strftime('%d')
train_dn['atoffice_prop'] = train_dn.atoffice / train_dn.employees
train_dn['overtime_prop'] = train_dn.overtime / train_dn.atoffice
week_encoded = train_dn.groupby('dow').dn.mean()
train_dn['dow'] = train_dn.dow.replace(week_encoded)

In [91]:
df_trdn = train_dn[['atoffice','atoffice_prop','overtime_prop','y','m','d','dow',
                    'overtime','dn_prop']]
X_train, X_test, y_train, y_test = train_test_split(df_trdn.iloc[:,1:-1],
                                                    df_trdn.iloc[:,-1],
                                                    test_size=0.3,
                                                    random_state=42)
rtree2 = RandomForestRegressor(n_jobs=-1, random_state=42)
rtree2.fit(X_train, y_train)
y_pred2 = rtree2.predict(X_test)

a1 = df_trdn.loc[y_test.index].atoffice * y_test
a2 = df_trdn.loc[y_test.index].atoffice * y_pred2

print("훈련 세트 정확도: {:.3f}".format(rtree2.score(X_train, y_train)))
print("테스트 세트 정확도: {:.3f}".format(rtree2.score(X_test, y_test)))
print("MAE: {:.3f}".format(mean_absolute_error(a1,a2)))

훈련 세트 정확도: 0.944
테스트 세트 정확도: 0.616
MAE: 47.701

In [92]:
test_dn['y'] = test_dn.ymd.dt.strftime('%Y')
test_dn['m'] = test_dn.ymd.dt.strftime('%m')
test_dn['d'] = test_dn.ymd.dt.strftime('%d')
test_dn['atoffice_prop'] = test_dn.atoffice / test_dn.employees
test_dn['overtime_prop'] = test_dn.overtime / test_dn.atoffice
week_encoded = train_dn.groupby('dow').dn.mean()
test_dn['dow'] = test_dn.dow.replace(week_encoded)

In [93]:
X_test_dn = test_dn[['atoffice_prop','overtime_prop','y','m','d','dow','overtime']]
pred_dn_prop = rtree2.predict(X_test_dn)
pred_dn = pred_dn_prop * test_dn.atoffice

In [94]:
sub['석식계'] = pred_dn

In [101]:
sub[['중식계','석식계']] = sub[['중식계','석식계']].round(0).astype('int')

In [103]:
sub.to_csv('./data/submission.csv',index=False)